@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* font-family: 'Open Sans', sans-serif; */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /*colors*/
  --bg-main: rgb(224, 224, 224);
  --bg-main2: rgb(178, 178, 178);
  --bg-secondary: #fff835;

  --text-main: #257828;
  --text-focus: #ca9822;
  --text-secondary: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
